<div class="panel panel-default">
  <div class="row">
      <div class="col-md-12">
          <div class="panel-heading">
              <h1>Registrations</h1>
              <div class="row">
                  <div class="col-md-12">
                      <button type="button" ng-click="openRegistrationSaveModal()" class="btn btn-success btn-transparent"><i class="fa fa-plus"></i> Add Registration</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class='col-md-12'>
            <div class="panel-body">
                <!-- <div ng-hide="dataLoaded"class="installer-container ng-scope"><div class="ring-loader"></div><div class="installer-header ng-binding"></div></div> -->
                <div id="grid1" ui-grid="gridOptions" class="grid"></div>
                <!-- <div id="grid1" ui-grid="{ data: myData }" class="grid"></div> -->
            </div>
        </div>
    </div>
    <!-- <table class="display dataTable" cellspacing="0" width="100%"
          my-table="overrideOptions"
          data="response"
          columns="columns"
          column-defs="columnDefs"
          row-callback="myCallback"
          order="order">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Created At</th>
        </tr>
      </thead>
    </table> -->
  </div>
</div>
