<div class="panel panel-default">
  <div class="panel-body">
    <h1>My Profile</h1>
    <br>
    <div class="input-group">
      <span class="input-group-addon">ID</span>
      <input type="text" class="form-control" placeholder="ID" disabled
        ng-model="globals.user.id">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Email</span>
      <input type="text" class="form-control" placeholder="Email" disabled
        ng-model="globals.user.email">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Hashed Email</span>
      <input type="text" class="form-control" placeholder="" disabled
        ng-model="globals.user.hashedEmail">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Role</span>
      <input type="text" class="form-control" placeholder="" disabled
        ng-model="globals.user.role">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Hashed Password</span>
      <input type="text" class="form-control" placeholder="" disabled
        ng-model="globals.user.password">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Created At</span>
      <input type="text" class="form-control" placeholder="" disabled
        ng-model="globals.user.createdAt">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Modified At</span>
      <input type="text" class="form-control" placeholder="" disabled
        ng-model="globals.user.modifiedAt">
    </div>
  </div>
</div>
