<div class="panel panel-default">
  <div class="panel-body">
    <h1>Registrations</h1>
    <table class="display dataTable" cellspacing="0" width="100%"
          my-table="overrideOptions"
          data="response"
          columns="columns"
          column-defs="columnDefs"
          row-callback="myCallback"
          order="order">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Created At</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
